[zl-cloak] {
  display: none !important;
}

.zerolines {
  /*
  // display
  */
  &_hidden {
    visibility: hidden !important;
    opacity: 0;
    transition-duration: 0ms;
  }
  &_show {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transform: translateX(0);
    transform: translateY(0);
    transition-duration: 0ms;
  }
  &_hidden_drawer {
    visibility: hidden !important;
  }
  /*
  // display
  */
  &_transition {
    transition-property: opacity, visibility, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
  /*
  // opacity
  */
  &_opacity-0 {
    opacity: 0;
  }
  &_opacity-100 {
    opacity: 1 !important;
  }
  /*
  // transform
  */
  &_transform_y_0 {
    transform: translateY(0) !important;
  }
  &_transform_y_100 {
    transform: translateY(100%) !important;
  }
  &_transform_y_-100 {
    transform: translateY(-100%) !important;
  }
  &_move-down-sm {
    transform: translateY(-1rem) !important;
  }
  &_move-down-md {
    transform: translateY(-2rem) !important;
  }
  &_move-down-lg {
    transform: translateY(-3rem) !important;
  }
  &_move-up-sm {
    transform: translateY(1rem) !important;
  }
  &_move-up-md {
    transform: translateY(2rem) !important;
  }
  &_move-up-lg {
    transform: translateY(3rem) !important;
  }
  &_transform_x_0 {
    transform: translateX(0) !important;
  }
  &_transform_x_100 {
    transform: translateX(100%) !important;
  }
  &_transform_x_-100 {
    transform: translateX(-100%) !important;
  }
  &_move-right-sm {
    transform: translateX(-1rem) !important;
  }
  &_move-right-md {
    transform: translateX(-2rem) !important;
  }
  &_move-right-lg {
    transform: translateX(-3rem) !important;
  }
  &_move-left-sm {
    transform: translateX(1rem) !important;
  }
  &_move-left-md {
    transform: translateX(2rem) !important;
  }
  &_move-left-lg {
    transform: translateX(3rem) !important;
  }
  &_drawer-right {
    transform: translateX(100%) !important;
  }
  &_drawer-left {
    transform: translateX(-100%) !important;
  }
  &_drawer-top {
    transform: translateY(-100%) !important;
  }
  /*
  // zoom
  */
  &_zoom-in-sm {
    transform: scale(0.95) !important;
  }
  &_zoom-in-md {
    transform: scale(0.9) !important;
  }
  &_zoom-in-lg {
    transform: scale(0.8) !important;
  }
  &_zoom-out-sm {
    transform: scale(1.05) !important;
  }
  &_zoom-out-md {
    transform: scale(1.1) !important;
  }
  &_zoom-out-lg {
    transform: scale(1.2) !important;
  }
  /*
  // duration
  */
  &_quickly {
    transition-duration: 100ms !important;
  }
  &_slowly {
    transition-duration: 500ms !important;
  }
  &_no-animation {
    transition-duration: 0ms !important;
  }
}
